<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Destinos Turísticos</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Inicio</a>
        {% if user.is_authenticated %}
            <a href="{% url 'agregar_destino' %}">Agregar Destino</a>
            <a href="{% url 'logout' %}">Cerrar sesión</a>
        {% else %}
            <a href="{% url 'login' %}">Iniciar sesión</a>
            <a href="{% url 'register' %}">Registrarse</a>
        {% endif %}
    </nav>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>
